.ms-3 {
  background-color: #D3D3D3;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}
body {
  background-color: #D3D3D3;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
hr {
  border: none;
  border-top: 4px solid #000;
  margin: 40px 0;
  width: 100%;
}
.accordion-button {
  background-color: #D3D3D3;
  color: #000;
}
.accordion{
    background-color: #D3D3D3;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
.accordion-item{
    background-color: #D3D3D3;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
.accordion-header{
    background-color: #D3D3D3;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
.accordion-body{
    background-color: #D3D3D3;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
.accordion-button:not(.collapsed) {
  background-color: #D3D3D3;
  color: #000;
  box-shadow: none;
}
